@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #COCOCO;
    --botao-azul: #167BF7;
    --botoa-azul-efeito: #024fad;
    --cor-de-fundo: #00030C;
    --fonte-principal: "Inter", Arial, Helvetica, sans-serif;    
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.principal {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0rem 2rem 0rem;
}

.container__botao {
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    border-radius: 8px;
    padding: 1rem;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

.container__botao:hover {
    background-color: var(--botoa-azul-efeito);
}

.botao_secundario {
    background-color: transparent;
    color: var(--branco-principal);
    border: 1px solid var(--branco-principal);
}

.container__aviso {
    font-size: 0.75rem;
    text-align: center;
    padding: 1rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin-left: 10.3rem;
}

.secundario__imagem {
    width: 80%;
}

.container__descricao {
    margin-right: 7.5rem;
}

.descricao__titulo{
    font-size: 3rem;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.5rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulo{
    margin-bottom: 2.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: var(--branco-principal);
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    list-style-type: none;/*Serve pare tirar o estilo da lista*/
    color: var(--cinza-secundario);
    margin: 4.3rem 0 9rem 0;
}

.lista__item{
    font-size: 2rem;
    color: var(--cinza-secundario);
}

.rodape {
    text-align: center;
}

.rodape__imagem {
    margin-bottom: 2.5rem;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
}

.lista__link {
    list-style-type: none;
    margin: 1rem;
}

.lista__link:hover{
    color: var(--botao-azul);
}

.lista__link:active { /*A função active ocorre quando eu estou clicando em algo*/
    color: purple;
}

.lista__link__conteudo{
    color: var(--cinza-secundario);
    text-decoration: none;
    font-size: 1rem;
}

.rodape__texto {
    margin-bottom: 2rem;
}

.rodape__texto__secundario {
    padding: 0 5rem 5rem 5rem;
}

